.btn {
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: none;
    background-color: #f2f2f2;
    color: #333;
}

.btn a {
    font-weight: 900;
    font-family: var(--font-family-principal);
    font-size: 1rem;
    color: #333;
}

.btn a:hover {
    color: #f2f2f2;
}

.button-game {
    position: relative;
    top: 30%;
    left: 40%;
    box-shadow: 1px 2px 2px 5px #333;
}

.button-game:hover {
    background-color: var(--clr-mokepon-logo);
    color: #f2f2f2;
}

.button-game:active {
    transform: scale(0.9);
}