button {
    padding: 1rem;
    border: 2px solid #333;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
}

button:hover {
    background-color: #000;
    color: #fff;
}

button:active {
    transform: scale(0.9);
}

.btnMokepon {
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 1rem;
    background-color: #fff;
}

.btnMokepon:hover {
    background-color: #333;
}

.btnMokepon:active {
    transform: scale(0.9);
}