button {
    padding: 1.5rem 3rem;
    background-color: var(--clr-mokepon-bg2);
    color: #fff;
    border-radius: 1rem;
    border: .2rem solid var(--clr-mokepon-bg2);
}

button:hover {
    background-color: #fff;
    color: var(--clr-mokepon-bg2);
}

button:active {
    transform: scale(0.9);
}

.btnMokepon {
    padding: 1.5rem 3rem;
    border: 2px solid var(--clr-mokepon-bg);
    border-radius: 1rem;
    background-color: var(--clr-mokepon-bg2);
}

.btnMokepon:hover {
    background-color: #fff;
    color: var(--clr-mokepon-bg2);
}

.btnMokepon:active {
    transform: scale(0.9);
}

.move-mokepon {
    padding: 1rem;
}