/* === Section Canvas === */
.map-mokepon {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
}

.titleMap {
    font-size: 2rem;
    font-weight: 900;
    color: #f2f2f2;
    margin: 1rem auto;
}

.div-canvas {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem auto;
}

/* === Canvas === */
.map-canvas {
    /* width: 80rem;
    height: 40rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #fff; */
}