/* Main  Mokepon */
main .main--grid {
    height: 100vh;
    display: grid;
}

.main--grid__one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: auto;
    background-image: url("../assets/img/pokemonArena.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(0.6);
}

.titleMokepon {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem auto;
    color: var(--clr-mokepon-logo);
    font-family: var(--font-family-principal);
}

.mascotSelect {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem auto;
    color: var(--clr-mokepon-bg);
    font-family: var(--font-family-principal);
}

.attack-Select {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem auto;
    color: var(--clr-mokepon-bg);
}

.monster-Add {
    width: 100%;
    margin: 2rem auto;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.div-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
}

/* === Mokepon Card === */
.mokepon-card {
    width: 90%;
    height: 35rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
    border-top-left-radius: 5rem;
    margin: 1rem auto;
    display: flex;
    /*  justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    min-width: 24rem;
    max-width: 320rem;
}

.mokepon-card:active {
    transform: scale(0.9);
    filter: grayscale(1);
}

/* === Change Color Card ===*/
.mokepon-card:nth-of-type(1) {
    background-color: #DE6D00;
}

.mokepon-card:nth-of-type(2) {
    background-color: #049DD9;
}

.mokepon-card:nth-of-type(3) {
    background-color: #FFDC6C;
}

.label-text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    color: #333;
    font-family: var(--font-family-principal);
    margin: 1rem auto;
}

/* === Images === */

.monsterFire-img,
.waterBomb-img,
.punchEarth-img {
    max-width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
    height: 35rem;
    object-fit: cover;
    background-size: cover;
}

.mokepon-card:hover .monsterFire-img,
.waterBomb-img,
.punchEarth-img {
    transform: scale(1.3) rotate(5deg);
}

/* = animation = */
.card-animation {
    height: 5rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .card-animation:hover {
    position: relative;
    overflow: hidden;
    height: 100px;
    transform: scaleY(1.1);
    transition: all 03s ease;
} */

input {
    margin: .5rem auto;
    display: none;
}

/* ==> Add Color */
input:checked+label {
    /* background-color: #5D8BF4; */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* == Attack ===*/
.mokeponList {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: .5rem;
}

.textMokepon {
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: 700;
}

.textMokepon:hover {
    color: #333;
}

.select-attack {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textAttack,
.textAttackTwo {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 1.4rem;
    color: #333;
    font-weight: 400;
    font-family: var(--font-family-principal);
}

span {
    font-size: 1.8rem;
    color: var(--clr-mokepon-bg2);
    font-weight: bold;
    padding: .5rem;
    margin: 1rem auto;
}

.message {
    margin: 1rem auto;
}

.message p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 auto;
    font-family: var(--font-family-principal);
}

.init {
    margin: 2rem auto;
}

.init .text-new {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--clr-mokepon-bg);
    font-family: var(--font-family-principal)
}

/* == AppendChild*/
.childMonster,
.monsterEnemy {
    width: 100%;
    margin: 2rem auto;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: .5rem;
}

.monsterImg {
    border-radius: 1.5rem;
    padding: 5px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.attack-Section,
.winner {
    width: 100%;
    margin: 2rem auto;
}

.childAttack,
.childAttack-Enemy {
    width: 100%;
    margin: 2rem auto;
}

.childMonster,
.monsterEnemy {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 1rem;
    align-items: center;
}

.child-one,
.child-two {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 1rem;
    align-items: center;
}

.fireImage,
.waterImage,
.rockImage,
.arrowImage,
.enemyImageOne,
.enemyImageThree {
    border-radius: 1rem;
    border: none;
}

.messageEnemy,
.messageUser,
.messageCreate {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-left: .5rem;
    font-family: var(--font-family-principal);
}

.combat-Win {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr-mokepon-logo);
    text-align: center;
    font-family: var(--font-family-principal);
}

.titleChildAttack {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-mokepon-bg);
    margin: 1rem auto;
    font-family: var(--font-family-principal);
}