/* Main  Mokepon */
main .main--grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    /*  background-image: url("../assets/img/back01.jpg");
    object-fit: cover; */
}

.main--grid__one {
    grid-column: 1 / 2;
    grid-row: auto;
    /* background-color: var(--clr-white); */
    background-image: url("../assets/img/back02.jpg");
    object-fit: cover;
    filter: saturate(0.5);
}

.main--grid__two {
    width: 100%;
    /*  background-color: var(--clr-mokepon-bg); */
    /*  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%); */
    display: flex;
}

.grid--images {
    width: 100%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    /*  background-color: var(--clr-mokepon-bg); */
    background-image: url("../assets/img/background03.jpg");
    object-fit: cover;
    height: 100%;
    position: relative;
    filter: brightness(0.5);
}

.main--grid__two figure {
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 10;
    left: 55%;
    top: 25%;
}

.main--grid__two figure .image-mokepon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title--section {
    grid-column: 1 / 2;
}

.title--section__div {
    width: 100%;
    padding: 2rem;
}

.titleMokepon {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem auto;
    color: var(--clr-mokepon-logo);
    font-family: var(--font-family-principal);
}

.mascotSelect {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem auto;
    color: var(--clr-mokepon-bg);
    font-family: var(--font-family-principal);
}

.attack-Select {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 2rem auto;
    color: var(--clr-mokepon-bg);
}

.monster-Add {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.monster-Add label {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.label-text {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: #333;
    font-family: var(--font-family-principal);
    margin: 1rem auto;
}

/* === Images === */
.monsterFire-img,
.waterBomb-img,
.punchEarth-img {
    width: 10rem;
    height: 12rem;
    /*  padding: 1rem;
    outline: 2px solid #333; */
}

.monsterFire-img {
    background-image: url("../assets/img/mokepon5.png");
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.waterBomb-img {
    background-image: url("../assets/img/mokepon4.png");
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.punchEarth-img {
    background-image: url("../assets/img/mokepon3.png");
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input {
    margin: .5rem auto;
}

.mokeponList {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.textMokepon {
    color: var(--clr-black);
    font-size: 1.2rem;
    font-weight: 700;
}

.textMokepon:hover {
    color: #333;
}

.select-attack {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textMokepon {
    padding: 1rem;
}

.textAttack {
    font-size: 1.4rem;
    color: #333;
    font-weight: 400;
    font-family: var(--font-family-principal);
}

span {
    font-size: 2.2rem;
    color: var(--clr-mokepon-bg2);
    font-weight: bold;
    padding: .5rem;
    margin: 1rem auto;
}

.message {
    margin: 1rem auto;
}

.message p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 auto;
    font-family: var(--font-family-principal);
}

.init {
    margin: 2rem auto;
}

.init .text-new {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--clr-mokepon-bg);
    font-family: var(--font-family-principal)
}

/* == AppendChild*/
.childMonster,
.monsterEnemy {
    width: 100%;
    margin: 2rem auto;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    gap: .5rem;
}

.monsterImg {
    border-radius: 1.5rem;
    padding: 5px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.attack-Section,
.winner {
    width: 100%;
    margin: 2rem auto;
}

.childAttack,
.childAttack-Enemy {
    width: 100%;
    margin: 2rem auto;
}

#IDchild,
#IDchildTwo {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*grid-template-columns: auto;*/
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1rem;
    align-items: center;
}

.fireImage,
.waterImage,
.rockImage,
.arrowImage,
.enemyImageOne,
.enemyImageThree {
    border-radius: 1rem;
    border: none;
}

.messageEnemy,
.messageUser {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    margin-left: .5rem;
    font-family: var(--font-family-principal);
}

.combat-Win {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    font-family: var(--font-family-principal);
}

.titleChildAttack {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-mokepon-logo);
    margin: 1rem auto;
    font-family: var(--font-family-principal);
}