/* Main  Mokepon */
main .main--grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.main--grid__one {
    grid-column: 1 / 2;
    grid-row: auto;
    background-color: var(--clr-white);
}

.main--grid__two {
    background-color: var(--clr-mokepon-bg);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.grid--images {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid--images figure {
    width: 350px;
    height: 350px;
}

.grid--images figure .image-mokepon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title--section {
    grid-column: 1 / 2;
}

.title--section__div {
    width: 100%;
    padding: 2rem;
}

.titleMokepon {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem auto;
    color: var(--clr-mokepon-logo);
}

.mascotSelect {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 2rem auto;
    color: var(--clr-mokepon-bg);
}

.attack-Select {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem auto;
}

.monster-Add {
    width: 75%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monster-Add label {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
}

.mokeponList {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.textMokepon {
    color: var(--clr-black);
    font-size: 1.4rem;
    font-weight: 700;
}

.textMokepon:hover {
    color: #fff;
}

.select-attack {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textMokepon {
    padding: 1rem;
}

.textAttack {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

span {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: .5rem;
    margin: 1rem auto;
}

.message {
    margin: 1rem auto;
}

.message p {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0 auto;
}

.init {
    margin: 1rem auto;
}

.init .text-new {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* == AppendChild*/
.childMonster,
.monsterEnemy {
    width: 100%;
    margin: 2rem auto;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: .5rem;
}

.monsterImg {
    border-radius: 2rem;
    padding: 5px;
    object-fit: cover;
}

.attack-Section {
    width: 100%;
    margin: 2rem auto;
}

.childAttack,
.childAttack-Enemy {
    width: 100%;
    margin: 2rem auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.fireImage,
.waterImage,
.rockImage,
.arrowImage,
.enemyImageOne,
.enemyImageThree {
    border-radius: 50%;
    border: none;
}

.messageEnemy,
.messageUser {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
}

/* .childAttack-Enemy {
    flex-direction: column;
} */