@media (max-width: 370px) {}

/* ==> */
@media (max-width: 575px) {
    #mainGrid {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    #mainGridTwo {
        display: none;
    }

    #IdChildMonster,
    #idMonsterEnemy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #IDchild,
    #IDchildTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #idMessageUser,
    #idMessageEnemy {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}

/* ===> */
@media (min-width: 768px) {
    /*  .main--grid__two {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

/*Media Orientation====*/
@media screen and (orientation: landscape) {

    /*Styles for landscape mode.*/
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {

    /* Styles for portrait mode. */
    body::after {
        content: "Portrait";
    }
}