@media (max-width: 370px) {}

/* ==> */
@media (max-width: 575px) {
    #idTitleMokepon {
        margin: 1rem auto;
        font-size: 4rem;
    }

    #idMascotSelect {
        margin: 1rem auto;
    }

    #mainGrid {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    #mainGridTwo {
        display: none;
    }

    #IdChildMonster,
    #idMonsterEnemy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #IDchild,
    #IDchildTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #idMessageUser,
    #idMessageEnemy {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    #idTextAttack {
        width: 90%;
        margin: 1rem auto;
        text-align: center;
    }

    #idCombatWin {
        width: 90%;
        margin: 1rem auto;
    }

    #textNew {
        width: 90%;
        margin: 2rem auto;
        text-align: center;
    }

    #IDinit {
        margin: 1rem auto;
        padding: .5rem;
    }

    #btnMokeponFire,
    #btnMokeponWater,
    #btnMokeponEarth {
        padding: .5rem;
        margin-bottom: 1rem;
    }

    #idMokeponList {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {}

/* ===> */
@media (min-width: 768px) {
    #idTitleMokepon {
        margin: 2rem auto;
        font-size: 8rem;
    }

    #idMascotSelect {
        margin: 1rem auto;
        font-size: 2.5rem;
    }

    #textNew {
        text-align: center;
    }

    #IdBtnSelect {
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 1024px) {

    #idCombatWin {
        width: 90%;
        text-align: center;
    }

    #textNew {
        font-size: 3.5rem;
        text-align: center;
    }
}

@media (min-width: 1440px) {}

/*Media Orientation====*/
@media screen and (orientation: landscape) {

    /*Styles for landscape mode.*/
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {

    /* Styles for portrait mode. */
    body::after {
        content: "Portrait";
    }
}