/* === Start Grid */
.start-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-template-rows: auto;
    gap: 1rem;
}

/* === Section Grid */
.start--grid__one {
    width: 100%;
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: auto;
    /*  background-color: red; */
    position: relative;
}

.mokepon-gameImg {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/background03.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0.5);
    position: absolute;
}

figure {
    position: relative;
    width: 350px;
    height: 375px;
    /* outline: 4px solid #fff; */
    left: 20%;
    top: 25%;
}

figure .mokepon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
}

.mokepon-title {
    width: 100%;
    position: absolute;
    font-size: 6rem;
    text-align: center;
    font-family: var(--font-family-principal);
    font-weight: 900;
    color: #f2f2f2;
}

/* === Section Two Image Mookepon === */
.start--grid__two {
    width: 100%;
    height: 100vh;
    grid-column: 2 / 3;
    grid-row: auto;
    position: relative;
}

.divMokepon-image {
    width: 100%;
    height: 100vh;
    background-color: #00E3CC;
    position: absolute;
}

.figure-image {
    width: 50rem;
    height: 60rem;
    /* outline: 4px solid #f2f2f2; */
    position: relative;
    top: 10%;
    left: 75px;
}

.figure-image .image-mokepon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}