@media (max-width: 370px) {}

@media (max-width: 575px) {
    .start-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .start--grid__one {
        grid-row: 1 / 2;
        grid-column: 1;
    }

    .mokepon-title {
        font-size: 8rem;
    }

    .figure-one {
        left: 10%;
        width: 450px;
        height: 500px;
    }

    .button-game {
        left: 25%;
        padding: 2rem 3.5rem;
    }

    .button-game a {
        font-size: 2.5rem;
    }

    .start--grid__two {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    .figure-image {
        top: 15%;
        left: 40px;
    }
}

@media only screen and (max-width: 414px) and (min-width: 736px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

/*Media Orientation====*/
@media screen and (orientation: landscape) {

    /*Styles for landscape mode.*/
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {

    /* Styles for portrait mode. */
    body::after {
        content: "Portrait";
    }
}