/** === Import */

/** === Root */
:root {
    --clr-white: #fff;
    --clr-black: #000;

}

/** = ===== ====  Css Style General  ======= ======== =*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 2rem auto;
}

p,
span {
    letter-spacing: 0.1rem;
}

body {
    width: 100%;
    background-color: #8AA6A3;
}

main {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleMokepon {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem auto;
}

.mascotSelect {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem auto;
}

.attack-Select {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem auto;
}

.monster-Add {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mokeponList {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

button {
    padding: 1rem;
    border: 2px solid #333;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
}

button:hover {
    background-color: #000;
    color: #fff;
}

button:active {
    transform: scale(0.9);
}

.btnMokepon {
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 1rem;
    background-color: #fff;
}

.btnMokepon:hover {
    background-color: #333;
}

.btnMokepon:active {
    transform: scale(0.9);
}

.textMokepon {
    color: var(--clr-black);
    font-size: 1.4rem;
    font-weight: 700;
}

.textMokepon:hover {
    color: #fff;
}

.select-attack {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textMokepon {
    padding: 1rem;
}

.textAttack {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

span {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: .5rem;
    margin: 1rem auto;
}

.message {
    margin: 1rem auto;
}

.message p {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0 auto;
}

.init {
    margin: 1rem auto;
}

.init .text-new {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* == AppendChild*/
.childMonster,
.monsterEnemy {
    width: 100%;
    margin: 2rem auto;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: .5rem;
}

.monsterImg {
    border-radius: 2rem;
    padding: 5px;
    object-fit: cover;
}

.attack-Section {
    width: 100%;
    margin: 2rem auto;
}

.childAttack,
.childAttack-Enemy {
    width: 100%;
    margin: 2rem auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.fireImage,
.waterImage,
.rockImage,
.arrowImage,
.enemyImageOne,
.enemyImageThree {
    border-radius: 50%;
    border: none;
}

.messageEnemy,
.messageUser {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-right: .5rem;
}

/* .childAttack-Enemy {
    flex-direction: column;
} */