/** === Import */
@import url("./css/mainMokepon.css");
@import url("./css/btnComponent.css");

/** === Root */
:root {
    --clr-white: #fff;
    --clr-black: #000;
    --bg-color: #8AA6A3;
}

/** = ===== ====  Css Style General  ======= ======== =*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 2rem auto;
}

p,
span {
    letter-spacing: 0.1rem;
}

body {
    width: 100%;
    background-color: #8AA6A3;
}

main {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}