*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: .1rem;
}